@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Style reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* basic styling */

body{
    font-family: roboto,sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

h1,h2,h3{
    margin-bottom: 0.75rem;
}
/* utility classes */

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 1.5rem;
}
.primary-text{
    color: #93cb52;
}

.l-heading{
    font-size: 4rem;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.bglight{
    background: #f4f4f4;
    color: #333;
}

.bgdark{
    background: #333;
    color: #f4f4f4;
}

.bgprimary{
    background: #93cb52;
    color: #fff;
}
.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-style: bold;
    border: none;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.btn:hover{
    background: #8de02e;
}

.text-center{
    text-align: center;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
/* navbar */
#navbar{
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar .logo{
    padding-bottom: 0;
    padding-top: 0.3rem;
}
#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.5rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* showcase */
#showcase{
    background: #333 url('../image_resources/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* overlay */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/* section:what we do */
#what{
    background: #f4f4f4;
}
#what .items{
    display: flex;
}

#what .items .item{
    text-align: center;
    flex:1;
    padding: 1.25rem;
}

#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* section:who we are */

#who{
    display: flex;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url('../image_resources/people.jpg') no-repeat center center/cover;
}

.list{
    list-style: none;
    margin: 0.5rem 0;
}
.list li{
    padding: 0.25rem;
    border-bottom: #444 dotted 1px;
}

/* section:clients */

#clients .items{
    display: flex;
}
#clients .items div{
    flex: 1;
}
#clients .items img{
    display: block;
    width: 60%;
    margin: auto;

}

/* section:contact */

#contact{
    display: flex;
}

#contact .map,#contact .contact-form{
    flex: 1;
}

#contact .contact-form .form-group{
    padding: 0.5rem;
}
#contact .contact-form label{
    display: block;
    margin-bottom: 0.5rem;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 1px;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus{
    outline: none;
}

#contact .contact-form .btn{
    width: 97%;
    margin-top: 0.75rem;
    margin-left: 1.5%;
}

